$black: #141A21;
$blue: #00529C;
$blue-light: #F2F6FA;
$blue-light-transparent: rgba(242, 246, 250, 0.8);
$brown: #A08E80;
$green-dark: #038843;
$green: #00A650;
$green-saturated: #A8F4B4;
$green-light: #EBFAEE;
$green-light-saturated: #A8F4B4;
$green-light-dark: #DCFFE3;
$green-light-title: #02BB5B;
$green-fluo: #A8F4B4;
$grey: #D0D1D3;
$white: #fff;
$red: #E3121A;
$border: rgba(17, 17, 17, 0.1)
