@use 'sass:math';
.main-footer {
  font-size: rem-calc(13);
  @include grid(false);
  @include flnm;
  padding: rem-calc(60) rem-calc(30);
  background: $blue-light;
  border-top: 1px solid rgba(#111, .1);

  a {
    color: inherit;
    text-decoration: none;
  }

  p {
    margin: auto;
  }

  &__head,
  &__location,
  &__socials {
    margin-bottom: rem-calc(30);
    position: relative;
  }

  &__locations,
  &__links {
    margin-left: 64px;
    position: relative;
  }

  &__head {
    display: flex;
    align-content: center;

    strong {
      color: $blue;
    }

    &__content {
      margin-left: 29px;
    }

  }

  &__socials {
    margin-top: auto;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  &__social {
    list-style: none;
    padding: 0;
    color: rgba($blue, .5);

    a {
      display: block;
      width: 20px;
      height: 20px;
      background-color: currentColor;
      transition: $easeTransition;
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: contain;

      &:hover {
        background-color: $blue;
      }
    }

    span {
      display: none;
    }

    $socials: (facebook, twitter, youtube, instagram);

    @each $social in $socials {
      &--#{$social} a {
        mask-image: url(inline-image('icons/' + $social + '.svg'));
      }
    }
  }

  &__copyright {
    span, a {
      white-space: nowrap;
    }
  }

  @include breakpoint(large up) {
    $paddingTop: 85px;
    $paddingBottom: 135px;
    border-top: none;
    position: relative;
    padding: $paddingTop 0 $paddingBottom 0;
    align-items: center;

    &:before {
      background-color: $blue;
      position: absolute;
      left: math.percentage(math.div(8,26));
      right: 0;
      top: #{$paddingTop * -1};
      bottom: #{$paddingBottom * -1};
      pointer-events: none;
      grid-column: auto;
      z-index: 0;
    }
    > * {
      z-index: 1;
    }

    &__head {
      grid-column: 3 / span 5;
      margin-top: auto !important;
      margin-bottom: auto;
    }

    &__locations {
      margin-left: 0;
      color: #fff;
      grid-column: 10 / span 9;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 32px;
      grid-row-gap: 32px;
    }

    &__location {
      margin-bottom: auto;
      &:last-child{
        margin-bottom: auto;
      }
    }

    &__links {
      color: #fff;
      grid-column: 20 / -2;
      margin-left: 0;
    }

    &__socials{
      margin-bottom: 1rem;
    }

    &__social{
      color: rgba(#fff,.5);
      a:hover {
        background-color: #fff;
      }
    }
  }

}
