@use 'sass:math';
.fieldset {
  font-size: rem-calc(15);
  margin: auto;
  border: none;
  padding: rem-calc(40) rem-calc(30);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 40px;

  p {
    font-size: rem-calc(14);
    margin-top: 0;
    grid-column: 1 / span 4;
  }

  hr {
    grid-column: 1 / span 4;
    height: 1px;
    width: 100%;
    background-color: rgba($black, .2);
    border: none;
    margin: 0 0 -10px 0;
  }

  .fieldgroup{
    display: none;

    &.shown{
      grid-column: 1 /-1;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 28px;
      grid-row-gap: 40px;
    }
  }

  .expander{
    color: $green;
    text-transform: uppercase;
    background: transparent;
    appearance: none;
    border: none;
    padding-top: 14px;
    text-align: center;
    font-size: rem-calc(12);
    letter-spacing: 2px;
    display: block;
    outline: none;
  }

  @include breakpoint(large up) {
    padding: rem-calc(50) math.percentage(math.div(1,12));
  }

  .legend {
    font-size: rem-calc(28);
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 40px;
    grid-column: 1/-1;

    span {
      grid-column: 1 / span 4;
      color: $blue;
    }

    &--merge {
      grid-column: 1 / span 4;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  .field {
    grid-column-end: span 4;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    justify-content: flex-start;


    @include breakpoint(large up){
      grid-column-end: span 2;

      &--wide {
        grid-column-end: span 4;
      }

      &--short {
        grid-column-end: span 1;
      }

      &--medium {
        grid-column-end: span 3;
      }
    }


    &--inline {
      min-height: unset;
      flex-direction: row;
    }
  }

  error,
  .error {
    float: left;
    background-color: #d60000;
    padding: 2px 7px;
    color: #fff;
    font-size: 12px;
    margin: -1px 0 15px;
    align-self: flex-start;
    margin-bottom: calc(-1em - 8px);
    z-index: 1;
    position: relative;
    line-height: 1.6em;

    body:not(.page-loaded) &{
      opacity: 0;
    }
  }

  .label {
    font-size: rem-calc(12);
    letter-spacing: 2px;
    text-transform: uppercase;
    display: table;
    margin-bottom: rem-calc(12);
    white-space: nowrap;
  }

  label,
  .label{
    cursor: pointer;
  }

  .required {
    font-style: normal;
    color: #e3121a;
    font-size: 2em;
    position: absolute;
    margin-top: -7px;
    margin-left: 5px;
  }

  input[type=text],
  input[type=email],
  input[type=phone],
  input[type=date],
  input[type=tel],
  input[type=number],
  input[type=file],
  textarea,
  select {
    outline: none;
    background-color: $white;
    width: 100%;
    padding: 15px;
    border: 1px solid #C4C4C4;
    border-radius: 0;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: border .35s $ease;

    &:active,
    &:focus {
      border-color: rgba($black, .5);
    }
  }

  textarea{
    width: 100%;
  }

  select {
    background: #fff no-repeat center url(inline-image('icons/select-arrow.svg'));
    background-position: 96% center;
    background-position: calc(100% - 22px) center;
    background-size: 13px 7px;
  }

  &--with-background,
  &:nth-of-type(2n) {
    background-color: $blue-light;

    input[type=text],
    input[type=email],
    input[type=phone],
    input[type=date],
    input[type=tel],
    input[type=number],
    input[type=file],
    textarea,
    select {
      border-color: transparent;

      &:active,
      &:focus {
        border-color: rgba($blue, .25);
      }
    }
  }

  .checkbox,
  .radio {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    margin-right: 32px;
    @include breakpoint(large up) {
      margin-right: 50px;
    }

    &:last-of-type {
      margin-right: auto;
    }

    &.radio-blocks__block {
      background-color: #fff;
      border-radius: 3px;
      border: 1px solid #84ACCF;
      display: flex;
      align-items: center;
      justify-items: center;
      justify-content: center;
      height: 83px;
      padding: 2rem;
      overflow: hidden;
      margin-right: 0;
    }

    i {
      display: flex;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid rgba($black, .2);
      transition: border .35s $ease;
      align-items: center;
      justify-items: center;
      justify-content: center;
      flex: 0 0 auto;

      &:after {
        content: '';
        display: block;
        background-color: transparent;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transition: $easeTransition;
      }
    }

    input {
      opacity: 0;
      position: absolute;
      //pointer-events: none;

      &:focus,
      &:active {
        + i {
          border-color: rgba($black, .5);
        }
      }

      &:checked {
        + i:after {
          background-color: $green;
        }
      }
    }

    span {
      margin-left: 20px;
    }

    + .error{
      float: none;
      display: table;
      padding: 4px 10px;
      margin-top: 10px;
    }
  }

  .checkbox {
    font-size: rem-calc(12);
    letter-spacing: 2px;
    text-transform: uppercase;

    input {
      + i {
        width: 18px;
        height: 18px;
        border-radius: 0;

        &:after {
          background-color: transparent;
          border-radius: 0;
          width: 12px;
          height: 12px;
          mask: no-repeat center url(inline-image('icons/checkbox.svg'));
        }
      }

      &:checked {
        + i {
          &:after {
            transition: none;
            background-color: currentColor;
          }
        }
      }
    }
  }

  .radio-blocks {
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: math.percentage(math.div(1,10));
    grid-column-gap: math.percentage(math.div(1,10));

    @include breakpoint(xlarge up) {
      grid-row-gap: math.percentage(math.div(1,9));
      grid-column-gap: math.percentage(math.div(1,9));
      width: math.percentage(math.div(9,10));
    }

    &--amount {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: math.percentage(math.div(1,20));
      grid-row-gap: 12px;
      width: 100%;
      white-space: nowrap;

      .radio-blocks__block {
        border: none;
        border-radius: 0;
        padding: 0;
        flex-direction: column;
        height: auto;
        align-content: space-between;
        justify-content: space-between;

        span {
          min-height: 83px;
          transition: $easeTransition;
          background-color: rgba($blue, .1);
          width: 100%;
          display: flex;
          align-items: center;
          justify-items: center;
          align-self: stretch;
          justify-self: stretch;
          align-content: center;
          justify-content: center;
          margin-left: 0;
          margin-right: 0;
          color: rgba($blue, .2);
          font-weight: bold;
          font-size: rem-calc(34);
          height: inherit;
        }

        picture{
          height: 50%;
          width: 100%;
          overflow: hidden;
          display: block;
          padding-bottom: 66%;
          background: no-repeat center;
          background-size: cover;
          img{
            display: none;
          }
        }

        &:hover > span,
        input:focus + span {
          color: $blue;
          background-color: $blue-light;
        }

        input:checked + span {
          color: #fff;
          background-color: $blue;
        }
      }

      &__custom {
        grid-column: 1 / span 3;
        border: 1px solid #C4C4C4;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin-top: rem-calc(20);
        margin-bottom: rem-calc(20);

        button {
          font-size: rem-calc(18);
          font-weight: bold;
          display: flex;
          align-content: center;
          justify-content: center;
          color: $blue;
          appearance: none;
          border: none;
          background-color: transparent;
          outline: none;
        }

        .error{
          width: 100%;
          text-align: center;
          padding: 3px;
          line-height: 1em;
          margin-bottom: 0;
          @include breakpoint(large up){
            line-height: 1.6;
            margin-bottom: calc(-1em - 22px);
          }
        }

        &__wrapper {
          max-height: 0;
          overflow: hidden;
          text-align: center;
          transition: $easeTransition;
          opacity: 0;
          white-space: normal;

          input{
            opacity: 0;
          }

          &.active {
            opacity: 1;
            max-height: 250px;

            input{
              opacity: 1
            }
          }
        }

        &__amount {
          border-color: transparent !important;
          margin: rem-calc(20) 0;
          text-align: center;
          color: $blue;
          font-weight: bold;
          font-size: rem-calc(34);
          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }

      &-two-cols{
        grid-template-columns: repeat(2, 1fr);

        .radio-blocks--amount__custom{
          grid-column: 1 / span 2;
        }
      }
    }
  }

  .btn {
    text-transform: none;
    letter-spacing: -0.01em;
    grid-column: 1 / span 4;
    text-align: center;
    appearance: none;
    border: none;
    background-color: $green;
    color: #fff;
    font-weight: bold;
    display: flex;
    position: relative;
    font-size: rem-calc(24);
    transition: $easeTransition;
    outline: none;

    &:hover,
    &:focus,
    &:active{
      background-color: mix($green-dark, $green);
    }

    span {
      padding: rem-calc(32) rem-calc(10);
      margin-left: 0;
      margin-right: 0;
      width: -moz-available;          /* WebKit-based browsers will ignore this. */
      width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
      width: fill-available;

      &.total {
        padding: rem-calc(32) rem-calc(16);
        flex-shrink: 0;
        width: auto;
        background-color: $green-dark;
        justify-self: flex-end;
        min-width: math.percentage(math.div(4,10));
        @include breakpoint(large up) {
          min-width: math.percentage(math.div(2,10));
        }
      }
    }


    &.btn--submit {
      justify-content: space-between;
      margin-bottom: rem-calc(32);

      @include breakpoint(large up) {
        margin-top: rem-calc(32);
      }
    }
  }
}

.btn--facebook {
  background-color: transparent;
  color: #84ACCF;
  border: 1px solid currentColor;
  font-size: 13px;
  line-height: 120%;
  display: flex;
  align-items: center;
  padding: 10px 17px;
  border-radius: 3px;
  transition: $easeTransition;

  em{
    font-style: normal;
    display: none;

    @include breakpoint(medium up){
      display: inline;
    }
  }

  span {
    color: $blue;
    transition: $easeTransition;
  }

  &:hover {
    background-color: rgba($blue, .1);
    color: $blue;
    border-color: $blue;
  }

  &:hover {
    background-color: $blue;
    color: #fff;

    span {
      color: #fff
    }
  }

  &:before {
    content: '';
    display: inline-flex;
    background-color: currentColor;
    mask: no-repeat center url(inline-image('icons/facebook.svg'));
    mask-size: contain;
    width: 9px;
    height: 18px;
    margin-right: 10px;
  }
}

.follow-button {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  will-change: transform, opacity;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  display: flex;
  height: 90px;
  background-color: $green;
  font-weight: bold;
  letter-spacing: 0;
  width: 100vw;
  appearance: none;
  outline: none;
  text-align: center;
  text-transform: none;
  color: #fff;
  justify-content: center;
  border: none;
  font-size: rem-calc(24);
  transition: opacity .5s ease;

  @include breakpoint(large up) {
    display: none;
  }

  &.disabled {
    opacity: 0;
  }
}
