.infographic{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(162px, 1fr) );
  grid-column-gap: 10%;
  grid-row-gap: rem-calc(48);
  margin: rem-calc(48) auto;

  &__item{
    padding-top: rem-calc(25);
    border-top: 2px solid $green;
  }

  dt{
    font-weight: bold;
    line-height: 1;
    color: $blue;
    font-size: rem-calc(44);
  }

  dd{
    margin-top: rem-calc(12);
    margin-left: auto;
  }

  @include breakpoint(large up){
    margin: rem-calc(72) auto;

    dt{
      font-size: rem-calc(54);
    }
  }
}
