@use 'sass:math';

.partners {
  font-size: rem-calc(14);
  @include grid(false);
  padding: rem-calc(30);

  &__head {
    @include flnm();

    &__head {
      color: $blue;
      font-size: rem-calc(24);
      margin-bottom: 0;
      line-height: 1.2;
    }
  }

  &__list {
    width: 100%;
    margin: auto;
    padding: rem-calc(32) 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;

    &__item {
      align-items: center;
      justify-items: center;
      align-content: center;
      justify-content: center;
      align-self: center;
      justify-self: center;
      max-width: 185px;
    }
  }

  @include breakpoint(large up) {
    padding: rem-calc(135) 0;

    &__head {
      grid-column: 4 / 4 span;
    }

    &__list {
      padding: 0;
      grid-column-gap: 14 * 100%;
      grid-row-gap: rem-calc(32);
      grid-column: 10/ 14 span;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
