<footer class="main-footer">
    <header class="main-footer__head">
        <a class="main-footer__head__logo" href="https://www.telethon.it">
            <img src="images/logo.svg" alt="Telethon">
        </a>
        <div class="main-footer__head__content">
            <p>
                <strong><a href="https://www.telethon.it">Telethon</a></strong><br>
                C.F. 04879781005<br>
                <a href="mailto:info@telethon.it">info@telethon.it</a>
            </p>
        </div>
    </header>
    <div class="main-footer__locations">
        <div class="main-footer__location">
            Via Varese 16b - 00185 Roma<br>
            Tel. +39 06 440151<br>
            Fax. +39 06 44 015521
        </div>
        <div class="main-footer__location">
            Via Poerio 14 - 20129 Milano<br>
            Tel. +39 02 2022171<br>
            Fax. +39 06 44015600
        </div>
    </div>
    <div class="main-footer__links">
        <ul class="main-footer__socials">
            <li class="main-footer__social main-footer__social--facebook">
                <a href="#" rel="nofollow noopener" title="Facebook">
                    <span>Facebook</span>
                </a>
            </li>
            <li class="main-footer__social main-footer__social--twitter">
                <a href="#" rel="nofollow noopener" title="Twitter">
                    <span>Twitter</span>
                </a>
            </li>
            <li class="main-footer__social main-footer__social--youtube">
                <a href="#" rel="nofollow noopener" title="Youtube">
                    <span>Youtube</span>
                </a>
            </li>
            <li class="main-footer__social main-footer__social--instagram">
                <a href="#" rel="nofollow noopener" title="Instagram">
                    <span>Instagram</span>
                </a>
            </li>
        </ul>
        <p class="main-footer__copyright">
            <span>All rights reserved -</span>
            <span>© copyright Telethon -</span>
            <a href="https://www.bluelabs.it" rel="nofollow noopener">
                Web Agency
            </a>
        </p>
    </div>
</footer>
