<header class="main-header">
    <div class="logo">
        <a href="/" title="Fondazione Telethon">
            <img src="images/logo-telethon.svg" alt="Fondazione Telethon">
        </a>
    </div>
    <div class="links" data-module="header-links">
        <button class="btn links__btn">Servizio sostenitori</button>
        <div class="links__tooltip">
            <a class="links__phone" href="tel:+390244578581" type="tel">02&nbsp;44578581</a>
            <button role="switch" class="links__tooltip__close"><span>&times;</span></button>
        </div>
    </div>
</header>
