<div class="fieldset fieldset--donation">
    <div class="legend">
        <span>{% verbatim %}{{ donation_options.form_title }}{% endverbatim %}</span>
    </div>

    {# <input type="hidden" name="client" value="company"> #}
    <div class="radio-blocks">
        <label class="radio radio-blocks__block">
            <input type="radio" name="client" id="client_private"
                   v-model="donation.client"
                   value="private">
            <i></i>
            <span>{% verbatim %}{{ donation_options.private_donation_options.label }}{% endverbatim %}</span>
        </label>
        <label class="radio radio-blocks__block">
            <input type="radio" name="client" id="client_company"
                   v-model="donation.client"
                   value="company">
            <i></i>
            <span>{% verbatim %}{{ donation_options.company_donation_options.label }}{% endverbatim %}</span>
        </label>
    </div>

    {# <input type="hidden" name="type" value="regular"> #}
    <div class="field field--wide">
        <span class="label">{% verbatim %}{{ donation_options.donation_type_label }}{% endverbatim %}</span>
        <div>
            <label class="radio">
                <input type="radio" name="type" id="type_single"
                       v-model="donation.type"
                       value="single">
                <i></i>
                <span>{% verbatim %}{{ donation_options.single_donation_label }}{% endverbatim %}</span>
            </label>
            <label class="radio">
                <input type="radio" name="type" id="type_regular"
                       v-model="donation.type"
                       value="regular">
                <i></i>
                <span>{% verbatim %}{{ donation_options.recurring_donation_label }}{% endverbatim %}</span>
            </label>
        </div>
    </div>

    {# <input type="hidden" name="frequency" value="yearly"> #}
    <div class="field field--wide" v-if="donation.type === 'regular'">
        <span class="label">Frequenza</span>
        <div>
            <label class="radio">
                <input type="radio" name="frequency" id="frequency_monthly"
                       checked
                       v-model="donation.frequency"
                       value="monthly">
                <i></i>
                <span>Mensile</span>
            </label>
            <label class="radio">
                <input type="radio" name="frequency" id="frequency_yearly"
                       v-model="donation.frequency"
                       value="yearly">
                <i></i>
                <span>Annuale</span>
            </label>
        </div>
    </div>

    <div class="field field--wide">
        <span class="label">Importo</span>

        <div class="radio-blocks radio-blocks--amount"
             :class='[
                                    "radio-blocks",
                                    "radio-blocks--amount",
                                    {"radio-blocks--amount-two-cols": pricepoints.length > 3}
                                    ]'>
            <label v-for="pricepoint in pricepoints"
                   class="radio radio-blocks__block">
                <input type="radio" name="donation_amount"
                       v-model="donation.amount"
                       @click="toggleCustomAmount(false)"
                       checked
                       :value="pricepoint.amount">
                <span>
                                    {% verbatim %}{{pricepoint.amount | currency}}{% endverbatim %}€
                                </span>
                <picture
                        v-if="pricepoint.image"
                        class="amount__bg"
                        :style="`background-image: url(${pricepoint.image})`">
                    <img :src="pricepoint.image" alt="{{pricepoint.amount}}€">
                </picture>
            </label>
            <label class="radio-blocks--amount__custom">
                <button type="button" @click="toggleCustomAmount(true)">
                    Oppure scegli un importo libero
                </button>
                <div :class='[
                                        "radio-blocks--amount__custom__wrapper",
                                        {"active": donation.amount_is_custom}
                                        ]'>
                    <input type="number"
                           class="radio-blocks--amount__custom__amount"
                           name="donation_custom_amount"
                           step="1"
                           v-model="donation.custom_amount"
                           v-validate="{numeric:true}"
                           data-vv-as="Importo libero"
                           pattern="\d*"
                           :disabled="!donation.amount_is_custom"
                           :min="donation_custom_amount_min"
                           @focus="toggleCustomAmount(true)"
                           @blur="checkCustomAmount"
                           aria-required="true">
                    {{ error('donation_custom_amount') }}
                    <span>Importo minimo {% verbatim %}{{donation_custom_amount_min}}{% endverbatim %}</span>
                </div>
            </label>
        </div>
    </div>

    <!--
                    {# Causale #}
                    <label class="field field--wide">
                        <span class="label">Causale</span>
                        <select data-vv-as="Causale"
                                v-validate="{required:true}"
                                id="reason" name="reason">
                            <option>Causale 1</option>
                            <option>Causale 2</option>
                            <option>Causale 3</option>
                            <option>Causale 4</option>
                        </select>
                        {{ error('reason') }}
                    </label>
                    -->
</div>
