<div class="fieldset fieldset--info">
    <div class="legend legend--merge">
        <span>Dati Anagrafici</span>
        <button type="button" class="btn--facebook"><span>Compila<em> con Facebook</em></span></button>
    </div>

    <div v-if="donation.client === 'company'" class="fieldgroup company_fields shown">
        <div class="field">
            {{ input('info_company', 'Ragione Sociale', {required:true, alpha_spaces:true}) }}
        </div>

        <div class="field">
            {{ input('info_vat', 'Partita IVA', {required:true, piva:true}) }}
        </div>
    </div>

    <div class="field">
        {{ input('info_firstname', 'Nome', {required:true, alpha_spaces:true}) }}
    </div>

    <div class="field">
        {{ input('info_lastname', 'Cognome', {required:true, alpha_spaces:true}) }}
    </div>

    <div class="field">
        {{ input('info_email', 'Email', {required:true, email:true}, {type: 'email'}) }}
    </div>

    <div class="field">
        {{ input('info_phone', 'Telefono', {required:true, numeric:true}, {type: 'tel'}) }}
    </div>

    <div class="field" v-if="donation.client === 'private' && donation.type === 'regular'">
        {{ input('info_codice_fiscale', 'Codice Fiscale', {required:true, codicefiscale:true}) }}
    </div>

    <div class="field field--wide" v-if="info.address_manual === false">
        {{ label('info_address', 'Indirizzo') }}
        <google-autocomplete
                :title="'Indirizzo'"
                input_id="info_address"
                :config="{type: ['address']}"
                placeholder="Inserisci una posizione"
                @set-address="setAddress"
        >
        </google-autocomplete>
        {{ error('info_address') }}
        <button class="expander" type="button"
                @click="info.address_manual = true">
            Non trovi il tuo indirizzo? inseriscilo manualmente
        </button>
    </div>
    <div class="fieldgroup shown" v-if="info.address_manual">
        <div class="field field--medium">
            {{ input('info_address_street', 'Indirizzo', {}, {':value': 'info.address.route'}) }}
        </div>
        <div class="field field--short">
            {{ input('info_address_civico', 'Civico', {}, {':value': 'info.address.street_number'}) }}
        </div>
        <div class="field field--medium">
            {{ input('info_address_city', 'Città', {}, {':value': 'info.address.locality'}) }}
        </div>
        <div class="field field--short">
            {{ input('info_address_postalcode', 'Cap', {}, {':value': 'info.address.postal_code'}) }}
        </div>
        <div class="field">
            {{ input('info_address_province', 'Provincia', {}, {':value': 'info.address.administrative_area_level_2'}) }}
        </div>
        <div class="field">
            {{ input('info_address_country', 'Paese', {}, {':value': 'info.address.country'}) }}
        </div>
    </div>

</div>
