<div class="fieldset fieldset--payment">
    <div class="legend"><span>Metodo di Pagamento</span></div>

    <div class="field field--wide">
        <div>
            <label class="radio">
                <input type="radio" name="payment" id="payment_paypal"
                       v-model="donation.payment"
                       v-validate="{required:true}"
                       data-vv-as="Pagamento"
                       checked
                       value="paypal">
                <i></i>
                <span>Paypal</span>
            </label>
            <label class="radio">
                <input type="radio" name="payment" id="payment_credit_card"
                       v-model="donation.payment"
                       v-validate="{required:true}"
                       data-vv-as="Pagamento"
                       value="credit_card">
                <i></i>
                <span>Carta di Credito</span>
            </label>
            <label class="radio" v-if="donation.type === 'single'">
                <input type="radio" name="payment" id="payment_satispay"
                       v-model="donation.payment"
                       v-validate="{required:true}"
                       data-vv-as="Pagamento"
                       value="satispay">
                <i></i>
                <span>Satispay</span>
            </label>
            <label class="radio" v-if="donation.type === 'regular'">
                <input type="radio" name="payment" id="payment_rid"
                       v-model="donation.payment"
                       v-validate="{required:true}"
                       data-vv-as="Pagamento"
                       value="rid">
                <i></i>
                <span>Domiciliazione Bancaria</span>
            </label>
        </div>
        {{ error('payment') }}

    </div>
    <div v-if="donation.payment === 'rid'"
         :class='[{"shown": donation.payment === "rid"}, {"fieldgroup": true}]'>
        <div class="field">
            {{ input('payment_owner', 'Intestatario', {required:true, alpha_spaces:true}) }}
        </div>
        <div class="field">
            <label class="label" for="{{ name }}">
                Codice Fiscale intestatario
                <em v-if="donation.client === 'company'" title="Campo obbligatorio" class="required">*</em>
            </label>
            <input id="payment_codicefiscale"
                   name="payment_codicefiscale"
                   v-validate="{required: donation.client !== 'private', codicefiscale: true}"
                   data-vv-as="Codice Fiscale Intestatario"
                   type="text">
            {{ error('payment_codicefiscale') }}
        </div>
        <div class="field field--wide">
            {{ input('payment_iban', 'IBAN', {required:true, iban:true}) }}
        </div>
    </div>

    <hr>

    {% include 'shared/form/privacy.njk' %}

    <button type="submit" class="btn btn--submit">
        <span>{% verbatim %}{{ donation_options.cta }}{% endverbatim %}</span>
        <span class="total">{% verbatim %}{{ (donation_custom_amount || donation.amount) | currency }}{% endverbatim %}€</span>
    </button>


</div>
