<header class="hero">
    <h1 class="hero__head">Una speranza che arriva diritta al cuore.</h1>
    <iframe src="https://www.youtube-nocookie.com/embed/jswDaathRHc?controls=0"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    <div class="hero__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos suscipit animi labore
            laudantium enim
            neque cumque vero ducimus repellendus nemo rerum ullam, sed, numquam soluta perferendis
            explicabo sint
            molestiae optio!</p>
    </div>
    <div class="hero__cta">
        <button type="button" class="btn to-form-btn scroll-to" data-target=".main-form">
            <span>Dona Ora</span>
        </button>
    </div>
</header>
