<header class="hero">
    <h1 class="hero__head">Una speranza che arriva diritta al cuore.</h1>
    <div class="hero__video" data-module="video">
        <video autobuffer>
            <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4#t=10"
                    id="mp4"
                    type="video/mp4"/>
        </video>
        <button class="video-toggle"></button>
    </div>
    <div class="hero__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos suscipit animi labore
            laudantium enim
            neque cumque vero ducimus repellendus nemo rerum ullam, sed, numquam soluta perferendis
            explicabo sint
            molestiae optio!</p>
    </div>
    <div class="hero__cta">
        <button type="button" class="btn to-form-btn scroll-to" data-target=".main-form">
            <span>Dona Ora</span>
        </button>
    </div>
</header>
