<header class="hero">
    <h1 class="hero__head">Una speranza che arriva diritta al cuore.</h1>
    <picture class="hero__image">
        <source media="(max-width: {{ breakpoints.small.max }})"
                srcset="https://picsum.photos/seed/{{ title | slug }}/512/512">
        <source media="(max-width: {{ breakpoints.medium.max }})"
                srcset="https://picsum.photos/seed/{{ title | slug }}/768/694">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
             loading="lazy"
             srcset="https://picsum.photos/seed/{{ title | slug }}/1118/800" alt="telethon">
    </picture>
    <div class="hero__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos suscipit animi labore
            laudantium enim
            neque cumque vero ducimus repellendus nemo rerum ullam, sed, numquam soluta perferendis
            explicabo sint
            molestiae optio!</p>
    </div>
    <div class="hero__cta">
        <button type="button" class="btn to-form-btn scroll-to" data-target=".main-form">
            <span>{{ cta | default('Dona Ora') }}</span>
        </button>
    </div>
</header>
