<div class="latest-news">
    <div class="latest-news__heading">
        <h2><a href="#">Storie e News</a></h2>
        <p class="cta cta--high">
            <a href="#"><em>Leggi tutte le news</em></a>
        </p>
    </div>
    <div class="posts">
        <a class="posts__item" href="#">
            <div class="post__item__heading">
                <p class="date">20.11.19</p>
                <h5>Architecto delectus eligendi facere nostrum odit tempora?</h5>
                <p>A consequatur corporis dolor eaque
                    excepturi facere, iusto odit officia optio, possimus praesentium provident quisquam, rerum vero
                    voluptatum?  Aperiam deleniti dolore doloremque doloribus explicabo inventore iusto maiores molestiae.</p>
            </div>
            <div class="post__item__extra">
                <div class="img">
                    <img alt="News" src="https://picsum.photos/seed/{{ title }}notizia1/1118/800">
                </div>
                <span class="category"><em>Dalla Ricerca</em></span>
            </div>
        </a>
        <a class="posts__item" href="#">
            <div class="post__item__heading">
                <p class="date">20.11.19</p>
                <h5>Corporis culpa eos iusto libero minima odio, perferendis ratione veniam voluptatem voluptatibus?</h5>
                <p>Ab cumque dolorem esse eveniet, facilis iure iusto, maiores maxime necessitatibus nemo neque nihil officia optio possimus provident ratione rem rerum tempore! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="post__item__extra">
                <div class="img">
                    <img alt="News" src="https://picsum.photos/seed/{{ title }}notizia2/1118/800">
                </div>
                <span class="category"><em>Eventi e iniziative</em></span>
            </div>
        </a>
        <a class="posts__item"
           href="#">
            <div class="post__item__heading">
                <p class="date">20.11.19</p>
                <h5>Fugiat hic libero magni modi nostrum nulla sint! Atque minima obcaecati quod?</h5>
                <p>A ab aliquid animi atque aut dolore dolorem eos expedita facilis incidunt iure magnam quas quibusdam quidem recusandae, reiciendis, tempora unde velit veritatis vitae!</p>
            </div>
            <div class="post__item__extra">
                <div class="img">
                    <img alt="News" src="https://picsum.photos/seed/{{ title }}notizia3/1118/800">
                </div>
                <span class="category"><em>Dalla Ricerca</em></span>
            </div>
        </a>
    </div>
</div>
