<article class="page-content">

    {% include 'shared/page-content/article.njk' %}

    {% include 'shared/page-content/media.njk' %}

    <hr>

    {% include 'shared/page-content/infographic.njk' %}

</article>
