<section class="partners">
    <header class="partners__head">
        <h4 class="partners__head__head">Partners</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, non!</p>
    </header>
    <ul class="partners__list">
        <li class="partners__list__item">
            <picture>
                <img src="images/partners/bnl.svg" alt="bnl">
            </picture>
        </li>
        <li class="partners__list__item">
            <picture>
                <img src="images/partners/auchan.svg" alt="auchan">
            </picture>
        </li>
        <li class="partners__list__item">
            <picture>
                <img src="images/partners/italo.svg" alt="italo">
            </picture>
        </li>
    </ul>
</section>
