<footer class="pre-footer">
    <section class="pre-footer__section">
        <h4 class="pre-footer__head">Hai bisogno<br> di aiuto?</h4>
        <p>Contatta il servizio sostenitori</p>
        <ul>
            <li>
                <a href="tel:+390244578581" type="tel">
                    0039 02&nbsp;44578581
                </a>
            </li>
            <li>
                <a href="mailto:sostenitori@telethon.it">
                    sostenitori@telethon.it
                </a>
            </li>
        </ul>
    </section>
    <section class="pre-footer__section">
        <h4 class="pre-footer__head">Benefici<br> Fiscali</h4>
        <p>Tutte le donazioni a Telethon godono di benefici fiscali. Potrai scegliere se dedurre o detrarre l'importo
            donato.</p>
    </section>
    <section class="pre-footer__section pre-footer__section--with-pie">
        <h4 class="pre-footer__head">Come usiamo i<br> fondi raccolti?</h4>
        <p>Il novanta per cento dei fondi è destinato ai progetti</p>
        <section class="pie" data-module="pie" data-value="90">
            <svg class="pie__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96"
                 xml:space="preserve">
                <circle class="pie__svg__background" cx="48" cy="48" r="48"/>
                <circle class="pie__svg__value" cx="48" cy="48" r="33"/>
                <circle class="pie__svg__foreground" cx="48" cy="48" r="33"/>
            </svg>
            <span class="pie__counter">
                <span class="pie__number">90</span>
                <span class="pie__percent">%</span>
            </span>
        </section>
    </section>
</footer>
