<aside class="thank-you__review">
    <hgroup class="thank-you__review__header">
        <h2 class="thank-you__review__head">Il tuo parere è importante.</h2>
        <p class="thank-you__review__subhead">Conoscere il tuo parere ai aiuterà a rendere il nostro rapporto ancora più speciale.</p>
    </hgroup>

    <form method="get" class="thank-you__comment-form" action="_message.html" data-module="thankyou">
        <div class="fieldset">
            <label class="label">Messaggio <em class="required">*</em></label>
            <textarea title="Comment" name="comment" id="comment" cols="30" rows="10" required></textarea>
            <div class="thank-you__message"></div>
            <button class="btn btn--submit" type="submit" data-sending-text="Invio…">
                <span>Invia</span>
            </button>
        </div>
    </form>
</aside>
