<p>Lo screening neonatale è uno dei più importanti programmi di medicina preventiva pubblica. Grazie ad
    un test effettuato con un semplice prelievo di sangue dal tallone di un neonato è possibile
    identificare precocemente tre patologie: fenilchetonuria, ipotiroidismo congenito e fibrosi
    cistica.</p><h6>Qual è la novità dello screening neonatale esteso (SNE)?</h6>
<p>Negli ultimi anni nuove metodiche di analisi hanno permesso di mettere a punto un test che è in grado
    di diagnosticare circa 40 malattie metaboliche congenite, ovvero quelle malattie causate
    dall’assenza o dalla carenza di uno degli enzimi deputati alla produzione di energia
    nell’organismo. Per ciascuna di queste malattie esiste ed è disponibile un trattamento
    terapeutico in grado di migliorare l’aspettativa e la qualità di vita.</p>
<blockquote>
    <p>Lorem ipsum dolor sit amet, consec adipisicing elit, sed do eiusmod</p>
    <cite>Author</cite>
</blockquote>
