<h3>Che cos’è la Emipertrofia?</h3>
<p>Quella di malattia rara è una definizione epidemiologica, che descrive cioè la diffusione di quella
    malattia all’interno di una certa popolazione. Secondo la definizione corrente, in Europa si
    definisce rara una malattia che colpisce meno di una persona.</p>

<dl class="infographic">
    <div class="infographic__item">
        <dt><span data-module="counter">42</span></dt>
        <dd>progetti di ricerca</dd>
    </div>
    <div class="infographic__item">
        <dt><span data-module="counter" data-value="16.8">16,8</span></dt>
        <dd>lorem ipsum</dd>
    </div>
    <div class="infographic__item">
        <dt><span data-module="counter">58</span>%</dt>
        <dd>dolor sit amet</dd>
    </div>
</dl>
